{% extends 'layout/base.html' %}

{% block title %}Phiếu Thuê Phòng{% endblock %}

{% block content %}
<style>
    body {
  font-family: Arial, sans-serif;
  background-color: #f6f5f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width:600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 5px;
}

.container input,
.container textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.container .btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.container .btn:hover {
  background-color: #45a049;
}
</style>
<div class="container">
    <h1>PHIẾU THUÊ PHÒNG</h1>
    <form action="/pay/bill/roomform.id" method="">

        <label for="name">Tên khách hàng:</label>
        <input type="text" id="name" name="name" value="{{ roomform.name }}" disabled>

        <label>Ngày nhận:</label>
        <input type="text" id="check-in" name="check-in" value="{{ roomform.check_in }}" disabled>

        <label>Ngày trả:</label>
        <input type="text" id="check-out" name="check-out" value="{{ roomform.check_out }}" disabled>

        <label>Loại phòng:</label>
        <input type="text" id="type-room" name="type-room" value="{{ roomform.typeroom}}" disabled>

        <label>Số người ở:</label>
        <input type="text" id="count" name="count" value="{{roomform.count}}" disabled>


        <input type="submit" value="In phiếu" class="btn">
    </form>
</div>

{% endblock %}